@model HangFireSample.Models.EmailModel

@{
    ViewData["Title"] = "Schedule Email";
}

<h1>Schedule Email</h1>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> Please correct the errors below.
    </div>
}

<form method="post">
    <div class="form-group">
        <label asp-for="SendDateTime" class="control-label"></label>
        <input asp-for="SendDateTime" class="form-control" type="datetime-local" />
        <span asp-validation-for="SendDateTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RecipientEmail" class="control-label"></label>
        <input asp-for="RecipientEmail" class="form-control" />
        <span asp-validation-for="RecipientEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Subject" class="control-label"></label>
        <input asp-for="Subject" class="form-control" />
        <span asp-validation-for="Subject" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Body" class="control-label"></label>
        <textarea asp-for="Body" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>
    <br />
    <div>
    <button type="submit" class="btn btn-primary">Schedule Email</button>
    </div>
</form>
